# Analiza transportului in comun din Cluj-Napoca
## cu ajutorul datelor open de la  Tranzy AI - folosind PostgreSQL + POSTGIS

In primul rand (ad literam) - multumim [Tranzy AI](https://tranzy.ai/) pentru decizia de a face publice informatiile din sistemele de transport urban pe care le gestioneaza! Chapeau!

*prezentul notebook a fost creat pentru a usura munca celor mai putin obisnuiti cu Postgresql + POSTGIS, dar si pentru ca Jupyter Notebook ofera posibilitatea de a explica pe larg pasii necesari in dezvoltarea unei analize.*

> Conditii prealabile pentru ca Notebookul sa functioneze:
>1. Postgresql instalat - in principiu, instalarea e cu Next->Next->Next :) !! atentie la username si parola superuserului BD 
>2. PostGIS instalat - idem de mai sus
>3. pgAdmin - interfata grafica de administrare a Serverelor PostgreSQL
>4. ipython-sql (pip install ipython-sql) pentru ca Notebook sa poata rula comenzi SQL

> Conditii prealabile pentru analiza:
>1. Date de analizat - de la Tranzy AI - e nevoie de cont creat la https://tranzy.dev/ si cheie API
>2. Alte date de tip GIS - detalii in cele ce urmeaza

Din pacate, oricat am incercat, extensia sql a kernelului e limitata si nu permite userului sa creeze o baza de date din Notebook. Prin urmare, solutia e sa va conectati la serverul PostgreSQL cu ajutorul unei interfete de genul pgAdmin si sa creati o baza de date __'transport'__ in care "ne vom desfasura" ulterior.  
In interfata pgAdmin vi se solicita initial datele serverului la care doriti sa va conectati: Nume (oricenumedoriti), Host (localhost) si Port (5432). Dupa configurarea serverului va veti putea conecta la el cu credentialele potrivite. Pentru a crea baza de date __'transport'__ click dreapta pe 'Databases' ->'Create Database' --> specificati numele: transport si eventual Definition: Tablespace: pg_default. Ulterior crearii - click dreapta pe baza de date transport -> 'Create extension' si alegeti 'postgis'. Astfel veti avea o baza de date pe server avand toate capacitatile oferite de POSTGIS.

Incarcam extensia sql in kernel pentru a putea ulterior executa comenzi SQL

In [1]:
%load_ext sql

Cream un sir de conectare la BD PostgreSQL de tip *user@parola/server/bazadedate*  - credentialele sunt fie cele ale superuserului create la instalarea PostgreSQL (postgres/postgres) fie - pentru utilizatorii avansati - un user cu drepturi depline asupra bazei de date si parola aferenta  

--- mai jos sirul de conectare e construit cu _user:postgres_ si _parola:postgres_ si _baza de date creata anterior: transport_ ---

In [2]:
%sql postgresql://postgres:postgres@localhost/incercare

Cream o baza de date __transport__ in care "ne vom desfasura" ulterior

In [3]:
%%sql 

SELECT nume, ruta, dusintors FROM public.vehicule_test
ORDER BY gid ASC LIMIT 20

 * postgresql://postgres:***@localhost/incercare
20 rows affected.

[('83        ', 4, 'way       '),
 ('83        ', 4, 'way       '),
 ('55        ', 4, 'way       '),
 ('55        ', 4, 'way       '),
 ('55        ', 4, 'way       '),
 ('69        ', 4, 'way       '),
 ('55        ', 4, 'way       '),
 ('69        ', 4, 'way       '),
 ('55        ', 4, 'way       '),
 ('69        ', 4, 'way       '),
 ('55        ', 4, 'way       '),
 ('69        ', 4, 'way       '),
 ('55        ', 4, 'way       '),
 ('69        ', 4, 'way       '),
 ('55        ', 4, 'roundWay  '),
 ('69        ', 4, 'way       '),
 ('92        ', 4, 'way       '),
 ('65        ', 4, 'way       '),
 ('55        ', 4, 'roundWay  '),
 ('69        ', 4, 'roundWay  ')]

# as vrea sa scriu text